<h2 style="margin:2%">Contract Management Dashboard</h2>
<h4 style="color:#BBBDBF;margin:2%">As of Sept 28 at 2:05pm: Viewing as Shelly Rhoads</h4>
<div class="form-group">
    <div class="row" style="border: 1px solid #E7E9EA;margin:2%">

        <div class="col-md-8" style="border-top: 1px solid #E7E9EA;">
            <google-chart #cchart [data]="columnChartData" style="margin-left: 2%"></google-chart>
        </div>
        <div class="col-md-4" style="background-color: #F6F7F8;">
            <label for="options" style="display: block;font-size: 18px;margin-top:5%">Territory</label>
            <ng-multiselect-dropdown [placeholder]="'Select Territory'" [data]="dropdownListTerritory" [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelect)="onItemDeSelect($event)" (onDeSelectAll)="onDeSelectAll($event)" >
            </ng-multiselect-dropdown>
            <hr>

            <label for="options" style="display: block;font-size: 18px;margin-top:5%">Contract Type</label>
            <ng-multiselect-dropdown [placeholder]="'Select Contract Type'" [data]="dropdownListContractType" [settings]="dropdownSettings"
            [(ngModel)]="selectedItems" >
            </ng-multiselect-dropdown>
            <!-- <div class="col-md-12">
                <label for="options" style="display: block;font-size: 18px;">Case Type:</label>
                <div class="checkbox-column" style=" display:inline-block;" *ngFor="let option of options">
                    <label style=" font-size: 15px;">
                        <input type="checkbox" name="options" style="margin: 15px 15px 25px 12px;width: 13px;
                 height: 13px;"
                            value="{{option.value}}" />
                        {{option.name}}
                    </label>
                </div> -->
            </div>


        </div>
    </div>
    <div class="row" style="border: 1px solid #E7E9EA;margin:2% ">

        <div class="col-md-8" style="border-top: 1px solid #E7E9EA;">
            <google-chart [data]="barChartData2" style="margin-left: 2%" ></google-chart>
        </div>
        <div class="col-md-4" style="background-color: #F6F7F8;">
            <label for="options" style="display: block;font-size: 18px;margin-top:5%">Territory</label>
            <ng-multiselect-dropdown [placeholder]="'Select Status'" [data]="dropdownListCaseStatusTerritory" [settings]="dropdownSettings"
                (onSelect)="onCaseSelect($event)" (onSelectAll)="onCaseSelectAll($event)" (onDeSelect)="onCaseDeSelect($event)" (onDeSelectAll)="onCaseDeSelectAll($event)">
            </ng-multiselect-dropdown>
            <hr>
            <label for="options" style="display: block;font-size: 18px;margin-top:5%">Case Type</label>
            <ng-multiselect-dropdown [placeholder]="'Select Contract Type'" [data]="dropdownListCaseType" [settings]="dropdownSettings"
            [(ngModel)]="selectedItems" >
            </ng-multiselect-dropdown>
            
            <!-- <div class="col-md-12">
                <label for="options" style="display: block;font-size: 18px;">Case Type:</label>
                <div class="checkbox-column" style=" display:inline-block;" *ngFor="let option of options">
                    <label style=" font-size: 15px;">
                        <input type="checkbox" name="options" style="margin: 15px 15px 25px 12px;width: 13px;
                   height: 13px;"
                            value="{{option.value}}" />
                        {{option.name}}
                    </label>
                </div>
            </div> -->


        </div>
    </div>
    <div class="row" style="border: 1px solid #E7E9EA;margin:2% ">
        <div class="col-md-8" style="border-top: 1px solid #E7E9EA;">
            <google-chart [data]="columnChartData2" style="margin-left: 2%" ></google-chart>
        </div>
        <div class="col-md-4" style="background-color: #F6F7F8;">
            <label for="options" style="display: block;font-size: 18px;margin-top:5%">Territory</label>
            <ng-multiselect-dropdown [placeholder]="'Select Status'" [data]="dropdownListTerritory" [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
            </ng-multiselect-dropdown>

            <hr>
            <div class="col-md-12">
                <label for="options" style="display: block;font-size: 18px;">Case Type:</label>
                <div class="checkbox-column" style=" display:inline-block;" *ngFor="let option of options">
                    <label style=" font-size: 15px;">
                        <input type="checkbox" name="options" style="margin: 15px 15px 25px 12px;width: 13px;
                   height: 13px;"
                            value="{{option.value}}" />
                        {{option.name}}
                    </label>
                </div>
            </div>


        </div>
    </div>

    <div class="row" style="margin:2% ">

        <div class="col-md-5" style="border: 1px solid #E7E9EA;">
            <h4><b>Case Status/Aging Illustration</b></h4>
            <div class="row">
                <div class="col-md-5">
                    <label for="options" style="display: block;font-size: 18px;margin-top:5%">Status</label>
                    <ng-multiselect-dropdown [placeholder]="'Select Status'" [data]="dropdownListStatus" [settings]="dropdownSettings"
                        (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                    </ng-multiselect-dropdown>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label for="options" style="display: block;font-size: 18px;margin-top:5%">Territory</label>
                    <ng-multiselect-dropdown [placeholder]="'Select Status'" [data]="dropdownListTerritory" [settings]="dropdownSettings"
                        (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                    </ng-multiselect-dropdown>
                </div>
                <div class="col-md-5">
                    <label for="options" style="display: block;font-size: 18px;margin-top:5%">Case Type</label>
                    <ng-multiselect-dropdown [placeholder]="'Select Status'" [data]="dropdownListCaseType" [settings]="dropdownSettings"
                        (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                    </ng-multiselect-dropdown>
                </div>
            </div>
            <google-chart [data]="pieChartData" ></google-chart>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6" style="border: 1px solid #E7E9EA;">
            <h4><b>Case Backlog by Delinquency</b></h4>
            <div class="row">
                <div class="col-md-5">
                    <label for="options" style="display: block;font-size: 18px;margin-top:5%">Status</label>
                    <ng-multiselect-dropdown [placeholder]="'Select Status'" [data]="dropdownListStatus" [settings]="dropdownSettings"
                        (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                    </ng-multiselect-dropdown>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label for="options" style="display: block;font-size: 18px;margin-top:5%">Territory</label>
                    <ng-multiselect-dropdown [placeholder]="'Select Status'" [data]="dropdownListTerritory" [settings]="dropdownSettings"
                        (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                    </ng-multiselect-dropdown>
                </div>
                <div class="col-md-5">
                    <label for="options" style="display: block;font-size: 18px;margin-top:5%">Case Type</label>
                    <ng-multiselect-dropdown [placeholder]="'Select Status'" [data]="dropdownListCaseType" [settings]="dropdownSettings"
                        (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                    </ng-multiselect-dropdown>
                </div>
            </div>
            <google-chart [data]="barchart3" ></google-chart>

        </div>
    </div>

    <p></p>